/* Reset -------------------------------------------------- */
html { margin:0;padding:0;border:0; }
body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, article, aside, dialog, figure, footer, header, hgroup, nav, section, input { margin: 0; padding: 0;border: 0;}
article, aside, dialog, figure, footer, header, hgroup, nav, section { display:block; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; }
blockquote, q { quotes: "" ""; }
a img { border: none; }
:focus { outline: 0; }
.row { }



/* Global -------------------------------------------------- */
body {  color:#000; font-size:14px; line-height:21px; background-color:#fff; font-family: 'Open Sans', sans-serif; }
h1, h2, h3, h4, h5, h6 { padding:0; margin:0; }
h1 {}
h2 {}
h3 {}
h4 {}
h5 {}
h6 {}
p { }
ul, ul li, ul ol, ul li ul, ul li ul li { list-style:none; padding:0; margin:0; }
.page-wrapper { }
.container { margin:0 auto; width:987px;  }
.clear { clear:both; }



/* header -------------------------------------------------- */
.header { background:#232323; border-top: 15px solid #333333; padding:14px 0 17px 0; }
.header .logo { float:left; }
.header .header-right { float:right; width:606px; padding-top:37px; }
.header .nav-menu { text-align:right; float:left; width:543px; padding-top:7px; }
.header .nav-menu ul { display:inline-block; font-size:0px; }
.header .nav-menu ul li { display:inline-block; padding:0 25px; background:url(../images/border-slash.png) right no-repeat; }
.header .nav-menu ul li:last-child { background:none; padding-right:0px; }
.header .nav-menu ul li:first-child { padding-left:0px; }
.header .nav-menu ul li a { font-size:16px; color:#ffffff; font-weight:normal; line-height:20px; text-decoration:none; }
.header .nav-menu a.active { color:#1461a3; }
.header .nav-menu a:hover { color:#1461a3; }
.header .like-us { float:right; width:57px; text-align:right; padding-right:4px; padding-top:2px; }

/* banner -------------------------------------------------- */
.banner { background:url(../images/banner-img.png) center no-repeat; min-height:501px; background-size:cover; }   
.banner .banner-content { padding:44px 0 0 0; position:relative; }
.banner .banner-left { width:100%; margin-top:96px; position:absolute; min-height:206px; background-image:linear-gradient( to right, #1461a3 50%,  transparent 50% );  }
.banner .banner-inner-detail { position:relative; }
.banner .banner-detail { width: 53%; padding: 33px 40px 33px 3px;  box-sizing: border-box;  background: url(../images/handel-img.png) right no-repeat #1461a3;  position: absolute; min-height:206px; 

}
.banner h1 { font-size:29px; color:#ffffff; font-weight:700; line-height:26px; margin-bottom:15px; letter-spacing:-0.9px; }
.banner p { font-size:14px; color:#ffffff; font-weight:lighter; line-height:16px; margin-bottom:16px; letter-spacing:-0.3px; }
.banner a { font-size:14px; color:#fff; font-weight:normal; line-height:35px; text-decoration:none; width:123px; display:block; background:#88c3f5; text-align:center; }
.banner .banner-form { float:right; width:379px; box-sizing:border-box; padding:30px 23px 22px 27px; background:rgba(255, 255, 255, 0.7);  margin-right: 3px; position:relative; z-index:9999999;  }
.banner .banner-form p { font-size:22px; color:#232323; font-weight:normal; line-height:23px; margin-bottom:16px; letter-spacing:0.9px; }
.banner .input-field { width:329px; margin-bottom:13px; }
.banner .input-field:nth-child(4){ margin-bottom:23px; }
.banner input[type="text"] { width:100%; padding:0 15px; box-sizing:border-box; height:40px; border:1px solid #babeb9; font-size:13px; font-weight:normal; }
.banner input[type="submit"] { width:329px; height:66px; color:#ffffff; background:rgba(20, 97, 163, 0.8); font-size:25px; display:block; }
.banner input[type="text"]::-webkit-input-placeholder { color:#000000; }
.banner input[type="text"]:-moz-placeholder { color:#000000; }
.banner input[type="text"]::-moz-placeholder { color:#000000; }
.banner input[type="text"]:-ms-input-placeholder { color:#000000; }

/* content -------------------------------------------------- */ 
.content { }

/* content-is1 -------------------------------------------------- */
.content-is1 { background:#ecede2; padding:91px 0 87px 0; }
.content .tool { margin-bottom:22px; }
.content .column { width:230px; float:left; text-align:center; padding-left:22px; }
.content .column h4 { font-size:18px; color:#121213; line-height:25px; font-weight:700; margin-bottom:10px; }
.content .column:first-child { padding-left:0px; }
.content .column h4.adjust { padding: 0 22px; }
.content .column p { font-size:14px; color:#121213; font-weight:normal; line-height:20px; margin-bottom:25px; letter-spacing:-0.8px; }
.content .column a {  font-size:16px; color:#121213; line-height:25px; font-weight:500; text-decoration:none; background:url(../images/go-to.png) right no-repeat; padding-right:28px; letter-spacing:-0.9px; }

/* content-is2 -------------------------------------------------- */
.content-is2 { background:#dcddd3; padding:93px 0 108px 0; }
.content .our-service h3 { font-size:25px; color:#1f1f1f; line-height:19px; font-weight:600; margin-bottom:12px; text-align:center; letter-spacing:3px; }
.content .our-service span { font-size:17px; color:#2f2f2f; line-height:19px; font-weight:normal; margin-bottom:20px; text-align:center; display:block; letter-spacing: 1px; }
.content .come-down { text-align:center; display:block; }

/* content-is3 -------------------------------------------------- */
.content-is3 { padding:37px 0 32px 0; background:#ecede2; }
.content .advertise ul { display:block; font-size:0px; text-align:center; }
.content .advertise img { border:1px solid #fff; }
.content .advertise ul li { display:inline-block; vertical-align:top; margin-right:25px; }
.content .advertise ul li:last-child { margin-right:0px; }
.content .advertise ul:first-child { margin-bottom:23px; }

/* content-is4 -------------------------------------------------- */
.content-is4 { background:#232323; padding:87px 0 90px 0; }
.content h6 { font-size:23px; color:#ecede2; line-height:26px; font-weight:normal; margin-bottom:44px; text-align:center; letter-spacing:1px; }
.content input[type="submit"] { width:201px; height:58px; color:#ffffff; background:rgba(20, 97, 163, 0.8); font-size:25px; display:block; margin:0 auto; font-weight:bold; }

/* content-is-end -------------------------------------------------- */
.content-is-end { padding:101px 0 91px 0; background:#ecede2; }
.content .tools { margin-top:122px; padding-left:77px; }
.content .tools-description{ background:url(../images/tool1.png) left no-repeat; padding-left:184px; min-height:141px; margin-bottom:71px; }
.content .tools-description:last-child { background:url(../images/tool2.png) left no-repeat; padding-left:184px; min-height:141px; margin-bottom:0px; }
.content .tools h2 { font-size:22px; color:#272727; line-height:17px; font-weight:500; margin-bottom:14px; letter-spacing:2px; }
.content .tools h5 { font-size:19px; color:#272727; line-height:17px; font-weight:600; margin-bottom:14px;}
.content .tools p { font-size:14px; color:#272727; line-height:22px; font-weight:300; letter-spacing:0.2px; }

/* footer ----------- --------------------------------------- */
.footer { }
